<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <a href="#"><h1 class="site-title"><i class="fab fa-gripfire"></i> LAMPWIX</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="#">Home</a></li>
      <li class="navitem navlink"><a href="#">Classes</a></li>
    </ul>
  </nav>
</header>
