<div id="modal-backdrop" class="hidden"></div>
<div id="create-reply-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Create a Reply</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="reply-input-element">
                <label for="reply-text-input">Reply text</label>
                <textarea id="reply-text-input"></textarea>
            </div>
            <div class="reply-input-element">
                <label for="reply-attribution-input">Author</label>
                <input type="text" id="repl-attribution-input">
            </div>
            <div class="reply-input-element">
                <label for="reply-grade-input">Grade</label>
                <input type="text" id="reply-grade-input">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Create Reply</button>
        </div>
    </div>
</div>
