<!--each reply is a child of the class post-->
<div class="reply post">
  <div class="post content">{{reply}}</div>
<!--If author == instructor this should be the first child-->
  <div class="post author">{{author}}</div>
<!--If author == instructor grad should be hidden -->
  <div class="reply-grade">{{grade}}</div>
</div>
