<main>
<!-- This page contains the posts and replies for every class-->

  <div class="class post">
    <p class="class name">{{class}}</p>
    <p class="instructor name">{{instructor}}</p>
    <p class="post content">{{post}}</p>
    <p class="post author">{{author}}</p>
    <!--This button makes replies-->
    <button class="post reply">Reply</button>
  </div>

    {{#each reply}}
      {{>replyPost}}
    {{/each}}

</main>
