<main class= "search-container">
  <!-- This is the "HOME" page-->
    <h2>Find your class...<br>
    <li class="navitem navbar-search" id="class-search-tool">
    <input type="text" id="navbar-search-input">
    <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button></h2>
  </li>
</main>
