<!--each reply is a child of the class post-->
<article class="reply post-container">
  <div class="reply post-content">
    <p class="reply post-text">{{text}}</p>
    <p class ="reply post-author">{{author}}</p>
    <p class ="reply-rank">{{rank}}</p>
  </div>
</article>
